* {
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 216, 255);
}

header > h1 {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;

  animation: load 2s ease-in backwards;
  animation-delay: 2s;
}

.item {
  padding: 30px;
  display: inline-block;
  background-color: rgb(207, 255, 206);
  box-shadow: 2px;
  border-radius: 200px;
  text-align: center;
  cursor: pointer;
  animation: open4 2s ease-out forwards;
}

.item > h1 {
  margin-top: 0;
}

#battle{
    display: block;
    color: gold;
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    /* display: none; */
}

#selection_container {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1000px;

  animation: open3 2s ease-out forwards;

  /* background-color: yellow; */
}

#pokemon {
  display: none;
}

#button_choose{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
    text-align: center;
    padding-top: 70px;
    font-size: 3rem;
    font-weight: bold;
    border: black 5px solid;
    cursor: pointer;
    display: none;
    margin-top: -100px;
}

#background_container {
  position: relative;
  z-index: -10;
}

#top_circle {
  background-color: red;
  margin-inline: auto;
  width: 1000px;
  height: 500px;
  border-radius: 500px 500px 0 0;
  border: black 5px solid;
  animation: open2 2s ease-out forwards;
}

#middle_circle {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 200px;

  margin-inline: auto;
  margin-top: -600px;

  border: black 5px solid;

  animation: open 2s ease-in forwards;
}

#bottom_circle {
  background-color: white;
  margin-inline: auto;
  margin-top: -110px;
  width: 1000px;
  height: 500px;
  border-radius: 0 0 500px 500px;
  border: black 5px solid;

  animation: open 2s ease-in forwards;
}

@keyframes open {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes open2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300px);
  }
}

@keyframes open3 {
  to {
    width: 1200px;
    transform: translateY(-50px);
    font-size: 1.5rem;
    border-radius: 0;
  }
}

@keyframes open4 {
  to {
    border-radius: 25px;
  }
}

@keyframes load {
    0% {
        opacity: 0%;
    }
    100% {
      opacity: 100%;;
    }
  }
